<style>
    input[type=button], input[type=submit] {
    background-color: #9124a3;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px;
  }
  </style>
<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
              <h4 class="card-title">Agenda</h4>
              <div><a href="#" routerLink="../edit/0" (click)="openModal(nova)">Criar novo</a></div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Nome</th>
                      <th scope="col">Ativo</th>
                      <th scope="col">Data inicio</th>
                      <th scope="col">Data fim</th>
                      <th scope="col">Tipo</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>teste</td>
                      <td>teste</td>
                      <td>teste</td>
                      <td>teste</td>
                      <td>teste</td>
                      <td>teste</td>
                      <td>
                        <button mat-raised-button class="btn btn-info btn-sm">Editar</button>
                        <button mat-raised-button class="btn btn-danger btn-sm">Excluir</button>
                        <button mat-raised-button class="btn btn-info btn-sm">Pausar</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <ng-template #nova let-modal>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                      
                      <div class="card-icon">
                        <i class="material-icons">assignment</i>
                      </div>
                      <h4 class="card-title">Cadastro de agenda</h4>
                    </div>
                      <div class="card-body">
                          <form [formGroup]="ParaForm" (ngSubmit)="onSubmit()">
                              <div class="row">
                                  <div class="col">
                                      <input type="text" class="form-control" placeholder="Nome" id="anome">
                                  </div>
                                  <div class="col">
                                    <label>Ativo</label><br>
                                    <input type="checkbox" id="aativo">
                                  </div>
                              </div><br>
                              <div class="row">
                                <div class="col">
                                    <label>Data inicio</label>
                                    <input type="date" id="dia">
                                </div> 
                                <div class="col">
                                  <label>Data fim</label>
                                  <input type="date" id="dia2">
                                </div>                         
                              </div><br>
                              <input type="submit" value="Próximo" style="margin-left: 81%" (click)="modal.close();openModal(nova1)">
                          </form>
                      </div>
                  </div>
                  <div class="progress" style="height: 15px;">
                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                  </div>
            </div>
          </ng-template>
          

          <ng-template #nova1 let-modal>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                      
                      <div class="card-icon">
                        <i class="material-icons">assignment</i>
                      </div>
                      <h4 class="card-title">Cadastro de agenda</h4>
                    </div>
                      <div class="card-body">
                          <form [formGroup]="ParaForm" (ngSubmit)="onSubmit()">
                              <div class="row">
                                <div class="col"><br>
                                    <h4>Tipo da agenda</h4><br>
                                    <select class="form-control" aria-label="Default select example" id="tipo" onchange="(function(){
                                        if (document.getElementById('tipo').value == '1'){
                                            document.getElementById('env').type = 'submit';
                                            document.getElementById('env1').type = 'hidden';
                                            document.getElementById('env2').type = 'hidden';
                                        } 
                                        else if (document.getElementById('tipo').value == '2'){
                                            document.getElementById('env').type = 'hidden';
                                            document.getElementById('env1').type = 'submit';
                                            document.getElementById('env2').type = 'hidden';
                                        } 
                                        else if (document.getElementById('tipo').value == '3'){
                                            document.getElementById('env').type = 'hidden';
                                            document.getElementById('env1').type = 'hidden';
                                            document.getElementById('env2').type = 'submit';
                                        } 
                                    })()">
                                      <option value="1">Empresa</option>
                                      <option value="2">Profissional</option>
                                      <option value="3">Serviço</option>
                                    </select>
                                </div>                    
                              </div><br>               
                              <input type="submit" value="Voltar" (click)="modal.close();openModal(nova)">
                              <input type="submit" value="Próximo" style="margin-left: 65%" id="env" (click)="modal.close();funcmodal(modalEmpresa)">
                              <input type="hidden" value="Próximo" style="margin-left: 65%" id="env1" (click)="modal.close();funcmodal(modalProfissional)">
                              <input type="hidden" value="Próximo" style="margin-left: 65%" id="env2" (click)="modal.close();funcmodal(modalServico)">
                          </form>
                      </div>
                  </div>
                  <div class="progress" style="height: 15px;">
                    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                  </div>
            </div>
          </ng-template>

          

          <ng-template #modalProfissional let-modal>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                      
                      <div class="card-icon">
                        <i class="material-icons">assignment</i>
                      </div>
                      <h4 class="card-title">Cadastro de agenda</h4>
                    </div>
                      <div class="card-body">
                          <form [formGroup]="ParaForm" (ngSubmit)="onSubmit()">
                              <div class="row">
                                <div class="col"><br>
                                    <h4>Tipo de Profissional</h4><br>
                                    <select class="form-control" aria-label="Default select example">
                                      <option value="1">Profissional1</option>
                                      <option value="2">Profissional2</option>
                                      <option value="3">Profissional3</option>
                                    </select>
                                </div>                    
                              </div><br>                  
                              <input type="submit" value="Voltar" (click)="modal.close();openModal(nova1)">
                              <input type="submit" value="Próximo" style="margin-left: 65%" (click)="modal.close();openModal(modalEmpresa)">
                          </form>
                      </div>
                  </div>
                  <div class="progress" style="height: 15px;">
                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="75">75%</div>
                  </div>
            </div>
          </ng-template>
          <ng-template #modalServico let-modal>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                      
                      <div class="card-icon">
                        <i class="material-icons">assignment</i>
                      </div>
                      <h4 class="card-title">Cadastro de agenda</h4>
                    </div>
                      <div class="card-body">
                          <form [formGroup]="ParaForm" (ngSubmit)="onSubmit()">
                              <div class="row">
                                <div class="col"><br>
                                    <h4>Tipo de serviço</h4><br>
                                    <select class="form-control" aria-label="Default select example">
                                      <option value="1">Servico1</option>
                                      <option value="2">Servico2</option>
                                      <option value="3">Servico3</option>
                                    </select>
                                </div>                    
                              </div><br>                  
                              <input type="submit" value="Voltar" (click)="modal.close();openModal(nova1)">>
                              <input type="submit" value="Próximo" style="margin-left: 65%" (click)="modal.close();openModal(modalEmpresa)">
                          </form>
                      </div>
                  </div>
                  <div class="progress" style="height: 15px;">
                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="75">75%</div>
                  </div>
            </div>
          </ng-template>

          <ng-template #modalEmpresa let-modal>
            <div class="modal-body">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                      
                      <div class="card-icon">
                        <i class="material-icons">assignment</i>
                      </div>
                      <h4 class="card-title">Cadastro de agenda</h4>
                    </div>
                      <div class="card-body">
                          <form [formGroup]="ParaForm" (ngSubmit)="onSubmit()">
                              <div class="row">
                                <div class="col">
                                  <h4>Qual o período de horas em que você deseja abrir a agenda?</h4>
                                  <input type="text" class="form-control" placeholder="Em horas" id="aordem">
                                </div>   
                            </div><br><br>
                            <div class="row">
                              <div class="col">
                                <h4>Qual o tempo de duração de cada horário na agenda?</h4>
                                <input type="text" class="form-control" placeholder="Em minutos" id="aordem">
                              </div>
                            </div><br>             
                              <input type="submit" value="Voltar" (click)="modal.close();openModal(nova1)">
                              <input type="submit" value="Próximo" style="margin-left: 65%" (click)="modal.close();success()">
                          </form>
                      </div>
                  </div>
                  <div class="progress" style="height: 15px;">
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                  </div>
            </div>
          </ng-template>

          <pre>{{ closeResult }}</pre>
          