<style>
    input[type=button] {
    background-color: #9124a3;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 35px;
  }
  input[type=checkbox] {
      margin-left: 8px;
  }
</style>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-rose card-header-icon">
                    
                    <div class="card-icon">
                      <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">Cadastro de tipos de serviço</h4>
                  </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Nome">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Descrição">
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col">
                                    <label>Ativo</label><br>
                                    <input type="checkbox" placeholder="Ativo">
                                    
                                </div>
                            </div><br>
                            <input type="button" value="Cadastrar">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
